@import "./normalize.css";

#root {
  display: flex;
  flex-direction: column;
  justify-content: start; 
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-image: url(../../public/images/texture.svg);
}

.pageWrapper {
  width: 80vw;
}

h1 {
  width: fit-content;
}

footer {
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: 2.5rem;
}