@import "./normalize.css";

body {
  background-image: url(../../public/images/texture.svg);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: center;
  margin: 0;
  height: 100vh;
}

.pageWrapper {
  width: 85vw;
  display: flex;
  flex-direction: column;
}

h1, p {
  width: fit-content;
  align-self: center;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}