@import "./normalize.css";

body {
  background-image: url(../../public/images/texture.svg);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: center;
  margin: 0;
  height: 100vh;
}

.pageWrapper {
  width: 85vw;
  display: flex;
  flex-direction: column;
}

h1, p {
  width: fit-content;
  align-self: center;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchWrapper {
  width: 15vw;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.searchWrapper > button {
  width: 65px;
  align-self: center;
  margin-top: 15px;
}

.searchWrapper > input {
  padding: 5px;
  margin-bottom: 5px;
}

.animeInfoCopy {
  display: flex;
  padding: 0 10vw;
}

.rightSide {
  padding-left: 50px;
}

.animetitle {
  margin: 0;
}

.charInfoWrapper {
  display: flex;
  flex-direction: column;
}

.charInfoWrapper > input {
  width: 200px;
  align-self: center;
}