.animeList, .charactersList {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.animeCard {
    width: 550px;
    display: flex;
    flex-flow: row;
    background-color: rgba(0, 0, 0, 0.055);
    margin: 10px 0px;
    border-radius: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.characterCard {
    width: 280px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.055);
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.characterName {
    padding: 5px 0px;
    margin: 0px;
    text-align: center;
    width: fit-content;
}

.cardImg {
    width: 180px;
    height: 280px;
    border-radius: 15px;
}

.cardInfoWrapper {
    padding: 0px 10px;
}

h2 {
    text-align: center;
}
