nav {
    height: 10vh;
    display: flex;
    align-items: center;
}

nav > a {
    text-decoration: none;
    padding: 0 4rem;
    color:palevioletred;
    font-weight: bolder;
}

a:active {
    background-color: yellow;
  }

a:focus {
    outline: none;
}